#projects_menu1 {
    background-color: rgb(199, 224, 224);
    /* display: flex;
    justify-content: center; */
}

.nav_menu {
    margin: 0 auto;
    max-width: 960px;
}

.menu-bar1 {
    background-color: rgb(224, 224, 224);
    border-radius: 30px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    margin: 100px auto;
    box-shadow: 0px 0px 50px 5px rgb(15, 19, 24);
}

.a_menu{
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.menu-bar1,
#li1 {
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px 14px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

#li1::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.5s;
    border-radius: 25px;
}

#li1:hover {
    color: rgb(173, 173, 173);
}

.menu-bar1,
#li1:hover::before {
    background: linear-gradient(to bottom, #5caa9a, #9756d8);
    box-shadow: 0px 5px 30px 0px black;
    transform: scale(1);
}